<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <div>
          <img width="400px" height="400px"src="https://image.flaticon.com/icons/svg/1042/1042793.svg"/>
          <button on-click="incrementar" class="col-lg-4 col-xs-12">Cargar datos</button>
          <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}"/>
          <table class="table table-striped" col-lg-12 col-xs-12>
            <thead>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </thead>
            <tbody>
           <tr>
             <td>1</td>
             <td>Dolores</td>
             <td>Fuentes</td>
           </tr
           <tr>
             <td>1</td>
             <td>Martinez</td>
             <td>Perez</td>
           </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
            //value: 'mi-visor'
          },
            prop2:{
              type: Number,
              value: 999

            },
            prop3:{
              type:String,
              value: "Indique su valor"

            }
        };
      }
     incrementar (){
       this.prop2=this.prop2 +1;
       console.log(this.prop1);
       console.log(this.prop2);
     }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
